@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{margin: 0px; padding: 0px;}

body { font-family: "Open Sans", sans-serif !important; background: #efe9e9 !important; overflow-x: hidden !important;}
body.dark{background: #071739 !important;}

::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
::-webkit-scrollbar-thumb{background: #7d96c7 !important ;}
::-webkit-scrollbar-track{background: transparent !important ;}

h1,h2,h3,h4,h5,h6,p{color: #403e57 !important;}
p{font-weight: 300; font-size: 15px !important; line-height: 25px !important;}

.btn-blue{background: #0858f7 !important; font-size: 14px !important; font-weight: 800 !important; color: #fff !important; text-transform: capitalize !important; border-radius: 5px !important; border-radius: 8px !important;}

.btn-lg{padding: 5px 25px !important;}
.btn-big{padding: 8px 25px !important; font-size: 15px !important;}
.btn-big svg {font-size: 30px !important ; margin-left: 7px !important;}
.btn-round{border-radius: 30px !important;}

.full{max-width: 100% !important; flex: 0 0 100% !important; width: 100% !important;}

header{width: 100%; height: 70px; background: rgba(255,255,255,0.9) !important; position: fixed !important; top: 0px !important; left: 0px !important;z-index: 1000; -webkit-backdrop-filter: blur(5px); }

body.dark header{background: #112143 !important;}

header .logo{text-decoration: none !important;}
header .logo img{width: 200px; }
header .logo span{color: #292929; font-weight: 800; font-size: 24px}

header button.rounded-circle{min-width: 40px !important; width: 40px !important; height: 40px !important; background-color: #f0f5ff !important; color: #0858f7 !important;}
header button.rounded-circle svg{color: #292929!important; font-size: 20px !important; transition: all 0.2s ease-in-out;}
header button.rounded-circle:hover svg{color: #0858f7 !important;}

body.dark header button.rounded-circle{background: #112755 !important;}
body.dark header button.rounded-circle svg{color: #fff !important;}

header .part2{padding-left: 50px !important;}
.searchBox{width: 400px; height: 40px; background-color: #f0f5ff; border-radius: 6px; padding: 3px 15px;}
.searchBox input{background-color: transparent; border: 0px; outline: none !important;padding-left: 0px; font-size: 14px; color: #292929!important;}
.searchBox input::-webkit-input-placeholder{color: rgba(0,0,0,0.4);}
.searchBox svg{font-size: 18px; color: #292929!important;}

body.dark .searchBox{background-color: #12254e !important;}
body.dark .searchBox input,body.dark .searchBox input::-webkit-input-placeholder{color:   rgba(255,255,255,0.7) !important;}

body.dark .searchBox svg{fill: rgba(255,255,255,0.7) !important;}


.myAcc{text-align: left !important; color: #0858f7 !important; text-transform: capitalize !important;}
.userImg{display: flex; align-items: center; justify-content: center; overflow: hidden; width: 40px; height: 40px; border: 1px solid #0858f7; padding: 2px; border-radius: 100%;}
.userImg .rounded-circle{display: flex; align-items: center; justify-content: center; overflow: hidden; width: 100%; height: 100%; cursor: pointer ; position: relative;}
.userImg .rounded-circle img{object-fit: cover; width: 100%; height: 100%;}

.myAcc .userInfo{padding-left: 10px;}
.myAcc .userInfo h4{font-size: 15px; line-height: 15px !important; font-weight: 600; margin-bottom: 0px; color: #292929!important;}
.myAcc .userInfo p{margin-top: 0px; font-size: 12px; color: #000; opacity: 0.7;}

.userImg .lg{ width: 60px !important; height: 60px !important;}

body.dark .myAcc .userInfo *{color: rgba(255,255,255,0.8) !important;}
body.dark .MuiPaper-elevation{background-color: #12254e !important;}
body.dark .MuiPaper-elevation li *,body.dark .MuiPaper-elevation li{color: rgba(255,255,255,0.8) !important;}

#account-menu li{font-size: 15px !important; padding: 10px 15px !important;}
#account-menu li svg{font-size: 20px !important;}

#notifications .MuiPaper-elevation{right: 240px !important; width: 300px !important; left: auto !important; top: 70px !important;}

.dropdown_list .head{padding: 10px 0px;}
.dropdown_list .head h4{font-size: 17px !important; font-weight: 600 !important;}
body.dark .dropdown_list .head h4{color: rgba(255,255,255,0.9) !important;}
.dropdown_list li.MuiButtonBase-root{background: #ebf6ff !important; color: #000; padding: 10px 15px !important;}
.dropdown_list li.MuiButtonBase-root:hover{background: #ebe8ed !important;}

body.dark .dropdown_list li.MuiButtonBase-root{background-color: #12254e !important; background: #12254e !important;}


.dropdownInfo{padding-left: 15px !important;}
.dropdownInfo h4{font-size: 13px !important; font-weight: 500 !important; white-space: break-spaces !important; line-height: 21px !important; margin-top: 0px !important ; margin-bottom: 0px !important;}
.dropdownInfo h4 b{font-weight: 600 !important; margin-left: 5px !important;}
.dropdownInfo p{font-size: 12px !important; font-weight: 500 !important; margin-top: 0px !important;}
.dropdown_list .scroll{max-height: 300px !important; overflow-y: scroll; overflow-x: hidden;}

.text-sky{color: #0858f7 !important;}

body.dark .main .sidebarWrapper .sidebar{background: #112143 !important;}

.main .sidebarWrapper{width: 20% !important; flex: 0 0 20% !important; transition: all 0.3s ease-in-out;}
.main .sidebarWrapper.toggle{width: 0% !important; flex: 0 0 0% !important;}
.main .sidebarWrapper.toggle .sidebar{left: -300px !important ;}

.main .sidebarWrapper .sidebar{width: 20% !important;  height: 100vh !important; max-height: calc(100% - 70px) !important; position: fixed !important ; top: 70px !important; left: 0px !important; background: #fff !important; overflow-y: scroll; overflow-x: hidden; padding-bottom: 40px !important; transition: all 0.3s ease-in-out !important;}

.main .sidebarWrapper .sidebar::-webkit-scrollbar{width: 3px !important ;}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{background: transparent !important;}
.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{background: #0858f7 !important;}

.main .sidebarWrapper .sidebar ul{margin-bottom: 0px !important; padding: 10px 15px !important;}
.main .sidebarWrapper .sidebar ul li{list-style: none;}
.main .sidebarWrapper .sidebar ul li button{color: #5e5d72 !important; text-align: left; justify-content: left; border-radius: 10px !important; padding: 12px 10px !important; align-items: center; text-transform: capitalize !important; font-weight: 600 !important; font-family: "Open Sans", sans-serif !important; font-size: 15px !important;}

body.dark .main .sidebarWrapper .sidebar ul li button{color: rgba(255,255,255,0.8) !important;}
body.dark .main .sidebarWrapper .sidebar ul li button:hover{background: rgba(255,255,255,0.1) !important;}

body.dark .main .sidebarWrapper .sidebar ul li button.active{background: rgba(255,255,255,0.1) !important;}

.main .sidebarWrapper .sidebar ul li button *{color: #5e5d72 !important;}
.main .sidebarWrapper .sidebar ul li button .icon{display: flex; align-items: center; justify-content: center; width: 25px; height: 25px; margin-right: 10px;}
.main .sidebarWrapper .sidebar ul li button .icon svg{color: #000; opacity: 0.7; font-size: 22px;}
.main .sidebarWrapper .sidebar ul li button .arrow{display: flex; align-items: center; justify-content: center; width: 25px; height: 25px; margin-left: auto !important; transition: all 0.3s ease-in-out;}
.main .sidebarWrapper .sidebar ul li button:hover{background: #f1f1f1 !important;}
.main .sidebarWrapper .sidebar ul li button.active{background: #f1f1f1 !important;}
.main .sidebarWrapper .sidebar ul li button.active svg{fill: #0858f7 !important;}

.main .sidebarWrapper .sidebar ul li button.active .arrow{transform: rotate(90deg);}

.main .sidebarWrapper .sidebar ul .submenu{padding: 0px 45px !important; position: relative; transition: all 0.3s ease-in-out; height: 0px !important;}
.main .sidebarWrapper .sidebar ul .submenu::before{content: ''; width: 1px; height: 95%; position: absolute; top: 0px; left: 25px; background: rgba(255,255,255,0.4) !important;}

body.dark .main .sidebarWrapper .sidebar ul .submenu li a{color: rgba(255,255,255,0.7) !important;}
body.dark .main .sidebarWrapper .sidebar ul .submenu::before{background: rgba(0,0,0,0.3) !important;}

.main .sidebarWrapper .sidebar ul .submenu li {width: 100% !important;  list-style: none;}
.main .sidebarWrapper .sidebar ul .submenu li a{color: #5e5d72 !important; display: block;padding: 6px 0px;text-decoration: none;color: inherit; font-size: 14px !important; font-weight: 600 !important;  transition: all 0.3s !important; }
.main .sidebarWrapper .sidebar ul .submenu li a:hover{color: #0858f7 !important;}
body.dark .main .sidebarWrapper .sidebar ul .submenu li a:hover{color: #0858f7 !important;}

.main .sidebarWrapper .sidebar ul .submenuWrapper{transition: all 0.4s ease-in-out; overflow: hidden;}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed{height: 0px !important;}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu{opacity: 0;}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse{height: auto !important; overflow: inherit; padding: 10px 0px !important;}
.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu{opacity: 1; height: auto !important;}

body.dark .logoutWrapper .logoutBox{background: linear-gradient(#183e8c,#163474) !important; background: transparent !important;}

.logoutWrapper{padding: 0px 25px !important;}
.logoutWrapper .logoutBox{width: 100%; height: 100px; padding: 25px; background: #bcd2fd; border-radius: 10px; display: flex ; align-items: center; justify-content: center; overflow: hidden;}
.logoutWrapper .logoutBox button{font-size: 14px !important; font-weight: 600 !important; }
.logoutWrapper .logoutBox button svg{margin-right: 10px; font-size: 18px;}

.main .content{width: 80%; flex: 0 0 80%; transition: all 0.3s ease-in-out;}
.main .content .toggle{width: 100% !important; flex: 0 0 100% !important;}

.right-content{padding: 90px 30px !important; padding-bottom: 10px !important; }
.dashboardBoxWrapper{gap: 20px; width: 100% !important; flex-wrap: wrap; transition: all 0.3s ease !important;}
.dashboardBoxWrapper .dashboardBox{width: 48%; height: 170px; border-radius: 10px !important; overflow: hidden !important; padding: 20px;
display: flex; flex-direction: column; justify-content: space-around; text-align: left !important; position: relative; color: white; text-transform: capitalize !important;}   

.dashboardBoxWrapper .dashboardBox .col1 h4{font-size: 16px ;font-weight: 600; }
.dashboardBoxWrapper .dashboardBox .col1 span{font-size: 35px; font-weight: bold; line-height: 45px;}

.dashboardBoxWrapper .dashboardBox .icon{display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; border-radius: 10px; background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.3));}
.dashboardBoxWrapper .dashboardBox .icon svg{font-size: 36px;  opacity: 0.3; color: #fff;}
.dashboardBoxWrapperRow .box{width: 100%; height: 100%;}


.dashboardBoxWrapper .dashboardBox .toggleIcon{font-size: 22px; color: rgba(0,0,0,0.5) ; cursor: pointer; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important;}

.dashboardBoxWrapper .dashboardBox .chart{ opacity: 0.070 !important; position: absolute; bottom: 20px !important; left: 20px !important;}
.dashboardBoxWrapper .dashboardBox .chart svg{font-size: 110px !important; color: #000;}


.dashboardBoxWrapper .dashboardBox .bottomEle { position: relative; top: 15px; }
.dashboardBoxWrapper .dashboardBox .MuiList-root svg { color: #000 !important; font-size: 17px !important; margin-right: 10px !important; }

.dropdown_menu .MuiButtonBase-root svg { margin-right: 10px !important; }

/* Increased specificity */
.dashboardBoxWrapper .dashboardBox .dropdown_menu .MuiButtonBase-root svg { margin-right: 10px !important; }

.graphBox{background-image: linear-gradient(#1a50b5, #2a6ff7) !important; border-radius: 10px !important; padding: 25px !important; width: 100%; height: 100%;}


.graphBox.toggleIcon{font-size: 22px; color: rgba(0,0,0,0.5) ; cursor: pointer; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important;}
.toggleIcon svg{color: #fff !important; font-size: 20px; opacity: 1;}

.graphBox h6{font-size: 16px ;font-weight: 600; }
.graphBox p{font-size: 13px !important; color: white; opacity: 0.7 !important;}

#header{margin-top: -10px !important;}

.card1{margin: 20px 0px !important; border-radius: 10px !important; background-color: white !important; height: 50px !important;}
.card1 h3{font-size: 18px; font-weight: bold; color: #403e57;}

body.dark .card1{background: #112143 !important;}
.card1 h3{font-size: 18px; font-weight: bold; color: rgba(0,0,0,0.7) !important;}

.card{margin: 20px 0px !important; border-radius: 10px !important;}
.card .hd{font-size: 18px !important; font-weight: bold; color: #403e57;}

body.dark .card{background: #112143 !important;}
body.dark .card .hd{font-size: 18px !important; font-weight: bold; color: rgba(255,255,255,0.8) !important;}
body.dark .cardFilters .col-md-3 h4{color: rgba(255,255,255,0.8) !important;}
body.dark .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root, body.dark h1,body.dark h2,body.dark h3,body.dark h4,body.dark h5,body.dark h6,body.dark p, body.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon, body.dark css-bpeome-MuiSvgIcon-root-MuiSelect-icon{color: rgba(255,255,255,0.9) !important;}
body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline{border-color: rgba(255,255,255,0.3) !important ;}

body.dark .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{color: rgba(255,255,255,0.8) !important;}

.cardFilters .col-md-3 h4{font-size: 16px; font-weight: 800 ; text-transform: capitalize; color: #403e57;}

h1, h2, h3, h4, h5, h6{color: #403e57;}

.table-responsive::-webkit-scrollbar-thumb{background: #ccc !important;}
body.dark .table-responsive::-webkit-scrollbar-thumb{background: rgba(255,255,255,0.3) !important;}

.table .thead-dark th{background-color: #1866ee !important; border-color: rgba(255,255,255,0.1) !important; font-size: 13px !important; }
.table tbody td{font-size: 14px !important; color: #403e57 !important; font-weight: 500 ;}

.table tbody .actions button{min-width: 32px !important; width: 32px !important; height: 32px !important; margin: 0px 3px !important;}

.table tbody .actions button.secondary{background: rgba(203,60,231,0.2) !important;}
.table tbody .actions button.success{background: rgba(26,159,83,0.2) !important;}
.table tbody .actions button.error{background: rgba(241,17,51,0.2) !important;}

.table tbody .actions button svg{font-size: 32px !important;}

table.v-align td{vertical-align: middle !important;}
table td .info h6{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; font-size: 14px; font-weight: 600; margin-bottom: 0px;}
table.v-align td .info p{font-size: 13px; line-height: 18px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap; opacity: 0.8; margin-bottom: 0px;}

table.v-align td .descriptionBox{width: 270px ;} 

.table td .old,.table td .new{display: block !important; width: 100% !important;}

table td .imageWrapper{width: 20% !important; flex: 0 0 20%;}
table td .info{width: 70% !important; flex:  0 0 70%;}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root:hover{background: #0639a0 !important; color: #fff !important;}

body.dark table td{color: rgba(255,255,255,0.8) !important; }
body.dark .table-bordered td, .table-bordered th{border: 1px solid rgba(255,255,255,0.2) !important;}

body.dark .css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root{color: rgba(255,255,255,0.8) !important;}

.tableFooter p{font-size: 14px !important; font-weight: 500 !important; margin-bottom: 0px !important;}
.tableFooter{padding-bottom: 20px !important;}
.pagination{margin-left: auto !important;}

.css-1y7coo4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{background-color: #0858f7 !important; color: white !important;}






.loginSection{width: 100% !important; height: 100vh !important; padding: 35px 25px !important; background: #fff; position: relative; }
.loginBackground{width: 100% !important; height: 100% !important; opacity: 0.3 !important; position: fixed; top: 0px; left: 0px;z-index: 99; pointer-events: none;}

.loginSection .loginBox{width: 350px; height: auto; margin: auto;}
.loginSection .loginBox .wrapper{width: 100% !important; height: auto !important; background: #f0f0f0 !important; position: relative ; z-index: 100; padding: 35px !important;}

.loginSection .loginBox .wrapper .form-control{background: #fff; box-shadow: none; outline: none; border-radius: 8px; font-size: 14px; font-weight: 600; height: 45px;padding-left: 40px;}  

.loginSection .loginBox .wrapper .form-group{margin-bottom: 15px !important;}
.loginSection .loginBox .wrapper .form-group.focus .icon svg{color: #0858f7 !important;}
.loginSection .loginBox .wrapper .form-control:focus{border: 1px solid #0858f7 !important;}

.loginSection .loginBox .wrapper .form-group .icon{position: absolute; top: 3px ; left: 10px; z-index: 100; font-size: 23px;}
.loginSection .loginBox .wrapper .form-group .icon svg{color: #5e5d72 !important;}

.toggleShowPassword{position: absolute; top: 10px; right: 8px; cursor: pointer;}
.toggleShowPassword svg{font-size: 22px; color: #5e5d72 !important;}

.link{color: #5e5d72; font-weight: 600;}
.link:hover{color: #0858f7 !important; text-decoration: none !important;}
.loginSection .loginBox .wrapper .link{font-size: 14px;}

.loginSection .loginBox .wrapper .or span.line{display: block;width: 35%; height: 1px; background: rgba(0,0,0,0.3);}
.loginSection .loginBox .wrapper .or span.txt{display: flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 600; width: 30px ; height: 30px; border: 1px solid rgba(0,0,0,0.3); border-radius: 50%;}

.loginWithGoogle{text-transform: capitalize !important; font-weight: bold !important;}

.link.color{color: #0858f7 !important; text-decoration: none !important;}

.signUpSection {background: #f1f1f1 !important; padding: 0px 0px !important; height: auto !important;}

.signUpSection .loginBox{background: #f0f0f0 !important; position: relative ; z-index: 100; width: 100% !important; padding: 25px 5px !important;}
.signUpSection .loginBox .wrapper{border: 0px !important; background: transparent !important;}

.signUpSection .part1{padding-left: 100px !important; padding-right: 100px !important;}
.signUpSection .part1 h1 {
    color: #0f0f0f !important;
    font-size: 50px !important; 
    font-weight: 800 !important;
  }
  
  .signUpSection .part1 p {
    font-size: 18px !important; 
    font-weight: 500;
  }

h4{line-height: 32px !important;}

.slick-slide{outline: none !important;}

.sliderSml .slick-slide{padding-right: 10px !important;}
.sliderSml .slick-slide .item{border-radius: 7px !important; overflow: hidden !important;}

.sliderSml *, .sliderBig *{transition: all 0.2s !important;}
.sliderBig .item{overflow: hidden !important; border-radius: 7px !important;}

.consultantsDetailsSection .consultantInfo .icon{width: 20% !important; flex: 0 0 20% !important;}
.consultantsDetailsSection .consultantInfo .name{width: 80% !important; flex: 0 0 80% !important; font-weight: 600 !important; font-size: 15px !important; }

body.dark .consultantsDetailsSection .consultantInfo .name{color: rgba(255,255,255,0.8) !important;  }
.consultantsDetailsSection .consultantInfo .row{margin-bottom: 10px !important;}
.consultantsDetailsSection .consultantInfo .row .col-sm-7{display: flex !important; align-items: center !important;}
.consultantsDetailsSection .consultantInfo .row .col-sm-7 span{opacity: 0.8 !important; font-size: 15px !important; padding-left: 10px !important; ;}

.tags{margin-bottom: 0px !important;}
.tags li span{display: flex !important; align-items: center !important; justify-content: center !important; background: #c5bcbc !important; border-radius: 5px !important; font-size: 13px !important; padding: 5px 10px !important;}
.tags li span:first-child{padding-left: 0px !important;}

.ratingSection{width: 500px !important;}
.ratingSection .ratingRow{width: 100% !important; margin-bottom: 15px !important;}
.ratingSection .ratingRow .progress{height: 5px !important; background-color: #9b9797 !important;}
.ratingSection .ratingRow .progress .progress-bar{background: #edb213 !important;}
.ratingSection .ratingRow .col1{width: 15% !important; flex: 0 0 15% !important;}
.ratingSection .ratingRow .col2{width: 50% !important; flex: 0 0 50% !important;}
.ratingSection .ratingRow .col3{width: 25% !important; flex: 0 0 25% !important; padding-left: 20px !important;}

.reviewSection{width: 100% !important; display: flex !important; flex-direction: column !important;}
.reviewSection .reviewsRow{width: 100% !important; height: auto !important; background: #e9e9ea !important; padding: 35px !important; border-radius: 10px !important; margin: 15px 0px !important;}

.reviewSection .reviewsRow p{padding-left: 20px !important;}
.reviewSection .reviewsRow.reply{width: 90% !important; margin-left: auto !important;}
.reviewSection .reviewsRow .btn-big{font-size: 15px !important;}
.reviewSection .reviewsRow .btn-big svg{font-size: 18px !important; margin-right: 5px !important;}

.reviewForm{width: 100% !important; border-radius: 10px !important;}
.reviewForm textarea{width: 100% !important; height: 200px !important; background: #fafafa !important; outline: navajowhite !important; padding: 15px !important; border-radius: 10px !important; border: 1px solid !important;}
.reviewForm textarea::-webkit-input-placeholder{}